.DS_Store
R_analysis/Fig2.eps
R_analysis/Fig2.jpg
R_analysis/Fig3.eps
R_analysis/Fig4.eps
R_analysis/Fig5A.eps
R_analysis/Fig5B.eps
R_analysis/Fig6.eps
R_analysis/SFig2.eps
R_analysis/SFig3A.eps
R_analysis/SFig3B.eps
R_analysis/SFig3C.eps
R_analysis/SFig3D.eps
R_analysis/SFig3E.eps
R_analysis/SloanNeutralModel.txt
R_analysis/VennCounts.txt
R_analysis/.RData
R_analysis/.Rhistory
R_analysis/SFig1.eps
R_analysis/Top10.xlsx
R_analysis/Phylum_ttest.txt
R_analysis/AlphaDiv_TechnicalReps.txt
